main {
  background: linear-gradient(to bottom, #660392, rgba(150, 97, 162, 0.58));
  height: 100vh;
  padding-top: 30vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  //align-items: center;
}

app-tabs {

}
