.tab-content {
  color: #000;
  padding: 10px;
  min-width: 500px;
  max-width: 1000px;
  height: auto;
  overflow: auto;
  max-height: 300px;
  background-color: #fbfbfb;
  border-radius: 5px;

  h3 {
    font-family: monospace;
    font-size: 2em;
    color: #660392;
    margin: 10px 0;
  }

  p {
    font-family: monospace;
  }
}
